* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header ul {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

header ul img {
    height: 24px;

}

header ul li {

    margin-left: 1.5rem;

}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;

}

/* main Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main img {
    height: 150px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search img {
    height: 25px;
}

.search input {
    width: 400px;
    border: none;
    margin-left: 0.5rem;
    padding: 5px;


}
.buttons button{
    border: none;
    padding: 0.5rem;
    margin-left: 0.3rem;
    margin-top: 1rem;
    border-radius: 8px;
}

main p {
    margin-top: 2rem;

}
main p span{
    color: blue;

    padding: 0.5rem;
}

footer{
    background-color: #f2f2f2;
    padding: 0.8rem;
    margin-top: 12%;
}
footer ul{
    list-style: none;
}
footer div p{
    padding: 0.6rem 0;
}
.bottom-menu{
    display: flex;
    justify-content: space-between;
}
footer div ul{
    display: flex;
    padding: 0.6rem 0;
}
footer div ul li{
    padding: 0 0.5rem;
}